.section3 {
  padding: 30px 60px;
  margin: 20px 0px;
}
.section3 h2 {
  color: #2a254b;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 44.8px */
  margin-bottom: 20px;
}
.section3_product {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.section_big_card {
  border: 1px solid rgba(184, 182, 182, 0.555);
  cursor: pointer;
  border-radius: 10px;
}
.section_big_card:hover {
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
}
.section_big_card {
  width: 560px;
  overflow: hidden;
}
.section_big_card img {
  width: 560px;
  height: 425px;
  flex-shrink: 0;
}
.section3_content {
  padding: 15px 10px;
}

.section3_content h3 {
  color: var(--Dark-Primary, #2a254b);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  margin-bottom: 7px;
}
.section3_content p {
  color: var(--Dark-Primary, #2a254b);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 150%; /* 27px */
}
.section3 button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  background: #f49e3f;
  margin-top: 40px;
  text-align: center;
}

@media (min-width: 1300px) {
  .section3_product {
    justify-content: center;
  }
}
@media(max-width : 850px){
  .section3 {
    padding: 30px 20px;
    margin: 20px 0px;
  }
}