.paroduct_hero {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  position: relative;
}
.paroduct_hero::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.paroduct_hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
