.main_product_view {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}
.main_product {
  cursor: pointer;
  /* border: 1px solid rgba(184, 182, 182, 0.555); */
  padding-bottom: 10px;
  width: 280px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.main_product .new_Arrival {
  position: absolute;
  border-radius: 400px;
  background: #14bda5;
  top: 13px;
  left: 15px;
  padding: 3px 10px;
  z-index: 2;
  font-size: 15px;
  color: white;
}
.main_product:hover {
  /* box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5); */
}

.main_product img {
  width: 280px;
  height: 371px;
  object-fit: cover;
  border-radius: 10px;
}
.main_product_content {
  padding: 10px 10px;
}

/* ------------- main_product_content_title */
.main_product_content_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.main_product_content_title p {
  display: flex;
  padding: 5px 15px 5px 15px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px;
  background: #14bda5;
  color: white;
  font-size: 15px;
}

.main_product_content h3 {
  color: var(--Dark-Primary, #2a254b);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  margin-bottom: 7px;
}
.main_product_content_description p {
  color: var(--Dark-Primary, #2a254b);
  font-family: Poppins;
  line-height: 150%; /* 27px */
  font-weight: 500;
  font-size: 20px;
}

/* ---------- main_product_content_description */
.main_product_content_description {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 8px;
}
.main_product_content_description .price {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.main_product_content_description .price .off {
  color: var(--muted-color, #bdbdbd);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
  position: relative;
}
.main_product_content_description .price .off::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: var(--muted-color, #bdbdbd);
  top: 12px;
  z-index: 1;
}

.main_product_content_description .ratting {
  display: inline-flex;
  padding: 2px 15px 2px 15px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px;
  background: #14bda5;
  color: white;
  font-weight: 400;
  font-size: 16px;
}
.main_product_content_description .ratting svg {
  color: yellow;
  font-size: 18px;
}

.main_product_content button {
  width: 100%;
  text-align: center;
  padding: 10px 20px 10px 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  border-radius: 37px !important;
  border: 1px solid #14bda5;
  margin-top: 8px !important;
  color: black !important;
}
.main_product_content button:hover {
  background-color: #14bda5 !important;
  color: white !important;
}

/* ==================== swiper ================================= */

.swiper {
  width: 280px;
  height: 371px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 280px;
  height: 371px;
  object-fit: cover;
  border-radius: 10px;
  /* border: 2px solid red; */
}
.swiper-button-next {
  color: #14bda5;
  display: none !important;
}
/* Initial state: Hide the previous button */
.swiper-button-prev {
  color: #14bda5;
  display: none !important;
}

/* Show both buttons when .main_product is hovered */
.main_product:hover .swiper-button-next,
.main_product:hover .swiper-button-prev,
.main_product:hover .swiper-button-disabled {
  display: block !important;
  overflow: hidden;
}

/* ======================  */
.ribbon {
  position: absolute;
  display: inline-block;

  top: 0.3em;
  right: 0.8em;

  max-width: 5em;

  color: #fff;

  z-index: 1;
}

.ribbon::after {
  position: absolute;
  top: -2.5em;
  right: -6em;
  content: "";
  height: 4em;
  width: 16em;
  background-color: red;
  transform: rotatez(45deg);
  z-index: -1;
}
